@import "../bower_components/bootstrap/scss/bootstrap.scss";
@import "../bower_components/font-awesome/css/font-awesome.css";

@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?76719643');
  src: url('font/fontello.eot?76719643#iefix') format('embedded-opentype'),
       url('font/fontello.woff2?76719643') format('woff2'),
       url('font/fontello.woff?76719643') format('woff'),
       url('font/fontello.ttf?76719643') format('truetype'),
       url('font/fontello.svg?76719643#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76719643#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-lightbulb:before { content: '\f0eb'; } /* '' */

div.logo {
    height: 100px;
    width: 200px;
}

.logo img {
    height: 100%;
    width: 100%;
}

 .Header.row {
        justify-content: space-between;
        padding-left:15px;
        padding-right: 15px;
}

.menu {
    display: flex;
}


.container-slider {
    width:100%;
    background: beige;
}
.menu ul {
    padding-left: 0px;
    display: flex;
    align-items:center;
    li {
        margin-left:50px;
        list-style: none;
    }
}
li.projects {
    margin-left: 0px;
}

.slider {
    height: 600px;
}
.title {
   font-size: 55px;
   margin: auto;   
 }
 .img-welcome{
     max-width: 100%;
 }
 .welcome-pic h2{
     font-size: 25px;
 }
 .welcome-pic {
   
     p{
         font-size: 13px;
         
     }
 }
 .welcome-pic h3 {
     font-size: 18px;
 }


 .icon-lightbulb{
     font-size: 40px;
 }
 #stin-menu li {
     list-style: none;
 }

 h5 {
     font-size: 16px;
 }

.what {
     background-color:rgba(0,0,0,0.1); 
 }
 .nowy-design-row{
     padding-bottom: 50px;
     padding-top: 50px;
 }
 .nowy-design {
     margin-top: 10px;
     padding-right: 10px;
     display: flex;
     flex-wrap:wrap;
     justify-content: space-around;
     
 }
 .icon-div{
    width: 50%;
    text-align: center;
    padding-right: 4px;
    height: 50%;
    margin-bottom: 4px;
 }
 .what-img{
     width:100%;
     height:250px;
 }
 .divPhoto{
     margin-top: 10px;

 }

 @media (max-width:950px){
     .logo,.menu {
         margin: auto;
     }
 }
 
 .w-100 {
       padding: 18px;
    background: beige;
 }
 
 .col-6-img {
     img{
      width: 100%;

     }
 }

 @media  (max-width:767px){
     .text-1 {
         order:0;
     } .img-1 {
         order:1;
     }.text-2 {
         order:2;
     }.img-2{
         order:3;
     }.text-3 {
         order:4;
     }.img-3{
         order:5;
     }
 }

 footer {
     background: rgba(0,0,0,0.1);
 }
 .footer-bottom{
     border-top:1px solid gray;
 }
 ul.social{
     list-style: none;
     display:flex;
 }
 .row-social{
     justify-content: space-between;
 }
ul > li.projects  ul  {
     display:none;
     position: absolute;
 }
 ul > li.projects {
     margin-left:0px;
 }
 ul.test > li {
     margin-left: 0px;
 }

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:black;
}
#contact-form {
            margin: auto;
            width: 400px;
            max-width: 100%;
        }
        
        #contact-form legend {
            font-size: 24px;
        }
        
        #contact-form em {
            color: red;
        }
      
        #contact-form .item {
            position: relative;
            margin: 28px 0;
        }
        
        #contact-form input, #contact-form textarea {
            padding: 10px 35px;
            width: 100%;
            font-size: 20px;
            background: #efefef;
            border: none;
            box-sizing: border-box;
        }
        
  
        
        #contact-form textarea + label {
            top: 0;
        }
        
        #contact-form textarea:focus + label, #contact-form textarea:valid + label {
            top: -32px;
            font-size: 16px;
            opacity: 0.7;
        }
        
        #contact-form textarea:valid {
            border: 2px solid #16FF84;
        }
        
        .btn {
            width:100%;
            letter-spacing: 2px;
        }
        .text-error {
            color: rgb(255,148,148);
        }